.cities {
    margin-top: 20px;
}

.city img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cityfeature {
    text-align: justify;
    padding-left: 20%;
}

.cityfeature i {
    margin-right: 10px;
    color: #e67e22;
}

.smallicon {

}