.fdabove {
    margin-top: 20px;
}

.fdabove p {
    width: 70%;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
}

.fdbelow {
    width: 90%;
    margin: 20px auto;
    text-align: justify;
}

.fdicon {
    font-size: 40px;
    color: #e67e22;
}